:root {
  --color-base-white: #FFF;
  --color-base-gray-100: #F5F5F5;
  --color-base-gray-300: #8D8D99;
  --color-base-gray-500: #3D3D3Ds;
  --color-base-gray-900: #202024;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input {
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  width: min(70rem, 100%);
  margin: 0 auto;
  padding: 1rem 2rem;
}

main {
  overflow-y: scroll;

  background-color: var(--color-base-gray-100);
}

header,
nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 4.5rem;

  font-weight: 700;
}

header form {
  flex: 1;
}

nav ul {
  list-style: none;
  font-size: 1.125rem;

  color: var(--color-base-gray-300);
}

ul li.active {
  color: var(--color-base-gray-900);
}

.input-wrapper label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.input-wrapper input {
  width: 100%;
  padding: 1rem;

  border: none;
  border-radius: 6px;

  font-size: 1rem;
  font-weight: 600;

  background-color: var(--color-base-gray-100);
}

.input-wrapper input::placeholder {
  opacity: 0.56;

  color: var(--color-base-gray-500);
}

.avatar {
  width: 2.625rem;
  height: 2.625rem;

  object-fit: cover;

  border-radius: 50%;
}

/* Galeria */

main h1 {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.375rem;
  margin-top: 2rem;
}

.item {
  border-radius: 8px;
  overflow: hidden;

  background-color: var(--color-base-white);
}

.item img {
  width: 100%;
  cursor: pointer;

  aspect-ratio: 16/9;
  object-fit: cover;

  transition: all 400ms ease-in-out;
}

.item img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1) rotate(-2deg);
}

.details {
  position: relative;
  padding: 1.375rem;
  
  z-index: 1;

  background-color: var(--color-base-white);
}

.details h2 {
  font-size: 1.125rem;
}

.tags {
  margin-top: 0.75rem;
}

.tags span {
  padding: 6px;

  border-radius: 4px;
  line-height: 0;
  font-size: 0.75rem;
  text-transform: uppercase;

  background-color: var(--color-base-gray-100);
}

footer p {
  padding: 1rem;
  text-align: center;
  font-weight: 600;
}