:root {
  --color-base-white: #FFF;
  --color-base-gray-100: #F5F5F5;
  --color-base-gray-300: #8D8D99;
  --color-base-gray-900: #202024;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Mulish', sans-serif;

  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  width: min(70rem, 100%);
  margin: 0 auto;
  padding: 1rem 2rem;
}

main {
  overflow-y: scroll;

  background-color: var(--color-base-gray-100);
}